@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionales para el comportamiento del scroll */
.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(25, 25, 123);
    border-radius: 10px;
}